    @charset "UTF-8";

    header {
      display: flex;
      align-items: center;
    }

    body {
      background-color: #000000; /* Light gray background */
      margin: 0; /* Remove default body margin */
      padding: 0; /* Remove default body padding */
      font-size: 1.15rem;      
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;      
      text-shadow: 0px 0px 15px #fbefcf;       
      color: #fbefcf;      
    }    
    
    nav {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      margin-left: 30px;
    }    
    .logo-img {
      margin-left: 5px;
      margin-top: 5px;
    }
    .nav-buttons {
      margin-left: 5px;
      margin-right: 5px;
    }

    main {
      display: flex;
      flex-wrap: nowrap;      
      align-items: flex-start;
    }
    .main-content {
      flex: 0 0 80%;
      padding-left: 10px;
      padding-right: 10px;      
      margin-right: 5px;
      margin-top: 20px;
      margin-left: 20px;      
      border-style: double;
      border-color: #fbefcf;
      border-width: 1px;
      border-radius: 12px;
    }
    .main-text {     
      text-align: center;
    }

    aside {
      background-color: rgb(0, 0, 0);
      border-style: double;
      border-color: #fbefcf;
      border-width: 1px;
      border-radius: 12px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 20px;
      margin-top: 20px;
    }
    .side-text {     
      font-size: .9rem;
    }

    h1 {
      font-family: Copperplate, Papyrus, fantasy;
      color: #ffdd7f;
      font-weight: 500;
      text-shadow: 0px 0px 5px #ff0000;
      text-align: center;
      font-size: 3rem;
    }
    h2 { 
      font-family: Copperplate, Papyrus, fantasy;
      color: #ffdd7f;
      font-weight: 500;
      text-shadow: 0px 0px 5px #ff0000;
    }

    button {
      background-color: #eaca71;
      box-shadow: inset 0px 0px 7px black;
      border-radius: 4px;
      border: solid;
      border-width: 1px;
      transition: background-color .5s;
      transition: box-shadow 1s;
      font-size: 1rem;
    }
    button:hover {
      background-color: #e0cd9e;
      box-shadow: inset 0px 0px 0px #e0cd9e;
    }

    a {
      text-decoration: none;
    }